
/* YOUR CSS STYLES */
body {
    display: block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#home-BG {
    background-image: url("../img/dramatic_tree.jpg");
}

#footprint-BG {
    background-image: url("../img/shanghai_smog.jpg");
}

#extreme-Temps-BG {
    background-image: url("../img/clay-ground-seamless.jpg");
    opacity: 50;
}

#electoral-college-BG {
    background-image: url("../img/United_States_Capitol_-_west_front.jpg");
}

#title{
    padding-left: 30%;
    font-size: 4em;
}

.spacer{
    padding:20px;
}

#footprint-vis {
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    background-color: #5bc0de;
}

.carbon-sidebar {
    background-color: #5bc0de;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: #ebebe6;
    background-color: #797979;
}

.nav-pills > li > a, .nav-pills > li > a:focus {
    color: black;
}

.nav-pills > li > a:hover {
    color:black;
}

#sections {
    position: relative;
    display: inline-block;
    width: 400px;
    top: 0px;
    z-index: 90;
}

.step {
    margin-bottom: 300px;
    height: 530px;
    overflow:auto;
    width:390px;
}

#fixed-footprints-container {
    display: inline-block;
    position: fixed;
    top: 60px;
    z-index: 1;
    margin-left: 0;

    height: 800px;
    width: 800px;
    background-color: #ddd;
    opacity: 100;
    border-radius: 25px;
}

#dataSelectFootprint {
    padding-left: 20px;
    font-weight: bold;
}

.country-label {
    text-anchor: middle;
    font-weight: bold;
    text-shadow:
            -1px -1px 0 white,
            1px -1px 0 white,
            -1px 1px 0 white,
            1px 1px 0 white;
}

.Africa {fill: #fffb00;}
.Asia {fill: #70df00;}
.Europe {fill: #00b669;}
.North-America {fill: #00ccd0;}
.Oceania {fill: #0084c4;}
.South-America {fill: #3b00d8;}


/*********************/
/*  TOOLTIP OVERLAY  */
/*********************/

.tooltip-title {
    display: block;
    margin-bottom: 5px;
    font-weight: normal;
}

.d3-tip {
    line-height: 1;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}


.state-border {
    stroke: #fff;
    stroke-linejoin: round;
    stroke-linecap: round;
}
