
/* YOUR CSS STYLES */
body {
    background-color: #d7e3eb;
}

#title{
    padding-left: 27%;
    background-color: #7786eb;

}

.spacer{
    padding:20px;
}

.subtitle{
    text-align: center;
}

.paragraph{
    padding-top: 2%;
    font-size: 1.2em;
}

.info{
    background-color: #6b86eb;
}

.quote{
    font-size: 1.5em;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #6b8feb;
}

.fact{
    font-size: 1.2em;
    font-weight: bold;
}

.scatter{
    background-color: #ebebe6;
}

.legend-label {
    font-size: .7em;
}


/* Styles for Vis 2 */

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: sans-serif;
    font-size: 10px;
}
.axis-label{
    font-size:10px;
}

/*********************/
/*  TOOLTIP OVERLAY  */
/*********************/

.tooltip-title {
    display: block;
    margin-bottom: 5px;
    font-weight: normal;
}

.d3-tip {
    line-height: 1;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}